:root{
    --light_meroon-color-: #BF8275;
    --dark_meroon-color-: #A64646;
    --dark_cream-color-: #a67d5de3;
    --cream-color-: #F2E9BD;
    --mat-color-: #161833;
    --gray-color-: #e9e9e9;
    --white-color-: #ffffff;
    --black-color-: #191919;

    --burberry-font-: "Noto Serif", serif;
    --luxury-font-: "Cormorant Garamond", serif;
    --normal-font-: "EB Garamond", serif;
}